/*color white*/
/*height: 70px*/
/*width: 100% of the container*/
/*border 1px #DDDDDD with radius 4px*/

.container .filters{
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px #DDDDDD solid;
    border-radius:4px;
}



/*button styling*/
/*font size: 18px*/
/* inside the section filters*/
/*  background color #FF5A5F*/
/*  text color #FFFFFF*/
/*  height: 48px*/
/*  width: 20% of the section filters*/
/*  no borders*/
/*  border radius: 4px*/
/*  center vertically and at 30px of the right border*/
/* change opacity to 90% when the mouse is on the button*/

.filters button{
    font-size: 18px;
    background-color: #FF5A5F;
    color :#FFFFFF;
    height: 48px;
    width: 20%;
    border:none;
    border-radius: 4px;
    margin-right:30px;
    margin-top:10px;
    float: right;
}
.filters button:hover {
    opacity: 0.9;
}

/*inside the section filters (same level as the button Search)*/
/*height: 100% of the section filters*/
/*width: 25% of the section filters*/
/*border right #DDDDDD 1px only for the first left filter*/

.filters .amenities {
    height: 100%;
    width: 25%;
    display:inline-block ;
}
.filters .locations{
    border-right: #DDDDDD 1px solid;
    display:inline-block ;
}

/*tag: h3*/
/*font weight: 600*/
/*text States or Amenities*/

h3{
    font-weight: 600;
    margin:10px 0 10px 20px;
}

h4{
    font-weight: 400;
    font-size: 14px;
    margin:10px 0 10px 20px;
}

/*classname popover
not displayed by default
color #FAFAFA
width same as the div filter
border #DDDDDD 1px with border radius 4px
no list display
state name must be display in a h2 tag (font size 16px)*/
.popover{
    list-style-type: none;
    background-color: #FAFAFA;
    display: none;
    width:100% ;
    border: #DDDDDD 1px solid;
    border-radius: 4px;
}
.locations:hover  .popover {
    display: inline-block;
}
.amenities:hover .popover{
    display: inline-block;
}
h2{
    font-size:16px;
}

ul {
    list-style-type: none;
    padding: 0 0 0 20px;
}

li {
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
}
